@media screen and (max-width: 450px) {


    /* Change login form styles for span and cancel button on extra small screens */
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }



  .landing-page {
      border: 20px solid transparent;
  }


}

