{% extends "layout.html" %}
{% block content %}
<div class="brand container">
    <br>
    <h2>Your card's AR experience is Ready.</h2>
    <br>
    <p>Click on the images below to download, and attach to your business card to link your AR chatbot.</p>
    <br>

    <p>QR Code: </p>
    <a href="../static/img/qr/{{ current_user.id }}.png" download="MiCard-QR">
        <img src="../static/img/qr/{{ current_user.id }}.png" download="MiCard-QR"/>
    </a>
    <br>

    <p>AR Marker: </p>
    <a href="../static/img/kanji_marker.jpeg" download="MiCard-marker">
        <img src="../static/img/kanji_marker.jpeg"/>
    </a>
    <br>

    <a href={{ url_for('main.home') }}><button type="button" class="btn btn-dark btn-lg">Finish</button></a>
</div>

{% endblock %}
