{% extends "layout.html" %}
{% block content %}

<div class="brand">
    <br>
    <h2>Edit Profile.</h2>
      <form action="/profile-edit" method="post" id="editprofile">


    <h3>Bio</h3>
          <div class="form-group">
              <textarea form="editprofile" class="form-control" name="new_bio" cols="100" rows="5">{{ profile.bio }}
              </textarea>
        </div>

    <h3>Contact email</h3>
          <div class="form-group">
            <input class="form-control" name="new_email" value="{{ profile.contact_email }}" type="email">
          </div>

    <h3>Job Title</h3>
          <div class="form-group">
              <input class="form-control" name="new_title" value="{{ profile.job_title }}" type="text">
          </div>

    <h3>Phone</h3>
          <div class="form-group">
            <input class="form-control" name="new_phone" value="{{ profile.phone }}" type="tel">
          </div>

    <h3>Working Hours</h3>
          <div class="form-group">
            <input class="form-control" name="new_hours" value="{{ profile.working_hours }}" type="text">
        </div>

    <h3>Location</h3>
          <div class="form-group">
            <input class="form-control" name="new_location" value="{{ profile.location }}" type="text">
          </div>

    <h3>Field</h3>
                <div class="form-group">
            <input class="form-control" name="new_field" value="{{ profile.field }}" type="text">
          </div>


    <h3>Registration</h3>
          <div class="form-group">
              <input class="form-control" name="new_registration" value="{{ profile.registration }}" type="text">
          </div>

    <h3>Years of Experience</h3>
          <div class="form-group">
              <input class="form-control" name="new_years" value="{{ profile.exp_years }}" type="number">
          </div>

    <h3>Consultation Fee</h3>
          <div class="form-group">
              <p>£ <input class="form-control" name="new_fee" value="{{ profile.cons_fee }}" type="number"></p>
          </div>

    <h3>Specialisms</h3>
            <div class="form-group">
                        {% if not profile.specialisms %}
                <div id="specialisms">
                    <input class="form-control" name="new_specialisms" placeholder="Add a Specialism" type="text">
                </div>
            {% else %}
                {% for specialism in profile.specialisms %}
                    <div id="specialisms">
                        <input class="form-control" name="new_specialisms" value="{{ specialism }}" type="text">
{#                        <img class="img_button" src="../static/img/bin.png" width="20" height="20" onclick="deleteSpecialism();" />#}
                    </div>
                {% endfor %}
                        {% endif %}

                <div class="new_specialisms"></div>
                <img class="img_button" src="../static/img/add.png" onclick="addSpecialism();" />

            </div>


    <h3>Treatments</h3>
          <div class="form-group">
            {% if not profile.treatments %}
                <div id="treatments">
                    <input class="form-control" name="new_treatments" placeholder="Add a treatment" type="text">
                </div>
            {% else %}
                {% for treament in profile.treatments %}
                    <div id="treatments">
                        <input class="form-control" name="new_treatments" value="{{ treatment }}" type="text">
                    </div>
                {% endfor %}
            {% endif %}

              <div class="new_treatments"></div>
              <img class="img_button" src="../static/img/add.png" onclick="addTreatment();" />

          </div>



    <h3>Certifications</h3>
          <div class="form-group">
            {% if not profile.certifications %}
                <div id="certifications">
                    <input class="form-control" name="new_certifications" placeholder="Add a certification" type="text">
                </div>
            {% else %}
          {% for certification in profile.certifications %}
              <div id="certifications">
                <input class="form-control" name="new_certifications" value="{{ certification }}" type="text">
              </div>


          {% endfor %}
                      {% endif %}

               <div class="new_certifications"></div>
              <img class="img_button" src="../static/img/add.png" onclick="addCertification();" />
      </div>

  <h3>Education</h3>
          <div class="form-group">
              {% if not profile.education %}
                <div id="education">
                    <input class="form-control" name="new_education" placeholder="Add education" type="text">
                </div>
            {% else %}
              {% for item in profile.education %}
                  <div id="education">
                      <input class="form-control" name="new_education" value="{{ item }}" type="text" size="500">
                  </div>
            {% endfor %}
                      {% endif %}

               <div class="new_education"></div>
              <img class="img_button" src="../static/img/add.png" onclick="addEducation();" />
      </div>


  <h3>Interests</h3>
          <div class="form-group">
                      {% if not profile.interests %}
                <div id="interests">
                    <input class="form-control" name="new_interests" placeholder="Add an interest" type="text">
                </div>
            {% else %}
        {% for interest in profile.interests %}
            <div id="interests">
            <input class="form-control" name="new_interests" value="{{ interest }}" type="text">
            </div>
        {% endfor %}
                      {% endif %}

               <div class="new_interests"></div>
              <img class="img_button" src="../static/img/add.png" onclick="addInterest();" />
          </div>
          <br>
          <br>

          <button class="btn btn-info btn-lg" type="submit">Save Changes</button>
      </form>

</div>



{% endblock %}
