<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- Allow web app to be run in full-screen mode. -->
        <meta name="apple-mobile-web-app-capable"
        content="yes">

        <!-- Configure the status bar. -->
        <meta name="apple-mobile-web-app-status-bar-style"
        content="black">

        <!-- styles -->
{#        <link href="/static/moviesnap.png" rel="icon">#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/mini-tablet-responsive.css">
        <link rel="stylesheet" href="../static/css/tablet-responsive.css">
        <link rel="stylesheet" href="../static/css/laptop-responsive.css">

          <!--fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,700;1,400&display=swap" rel="stylesheet">

        <title>MiCard</title>
    </head>

    <body>
        <div class="grid">
            <div class="slide-text">
                <h1 class="brand">Mi<b>Card</b><br></h1>
                <p class="flex">Bringing your business card to life.</p>
            </div>
            <button type="button" class="btn btn-info btn-lg">Login</button><br>
            <button type="button" class="btn btn-info btn-lg">Register</button><br><br>
            <button type="button" class="btn btn-success btn-lg">Scan A Card</button>
        </div>
    </body>
</html>