{% extends "layout_nonav.html" %}
{% block content %}
        <div class="landing-page container">
                <header>
            <div class = "brand">
                <h1>Mi<b>Card</b><br></h1>
                <br>
                <h3 class="flex" style="font-size: 18px">Bringing your business card to life.</h3>
                <br>
            </div>
        </header>
                <a href="login"><button type="button" class="btn btn-info btn-lg">Login</button></a>
                <a href="register"><button type="button" class="btn btn-info btn-lg">Register</button></a>
            <br>
                <a href="ar"><button type="button" class="btn btn-primary btn-lg">Scan A Card</button></a>
            <br>
        </div>

{% endblock content %}