<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Allow web app to be run in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable"
    content="yes">

    <!-- Configure the status bar. -->
    <meta name="apple-mobile-web-app-status-bar-style"
    content="black">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-tablet-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablet-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/laptop-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phone-responsive.css') }}">

    <!-- hamburger icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
        <title>MiCard {{ title }}</title>
    {% else %}
        <title>MiCard {{ title }}</title>
    {% endif %}

</head>


<body>
<!--Navbar-->
    <header>
    <div class="topnav" id="myTopnav">
        {% if current_user.is_authenticated %}
            <a class="brand-nav" href="{{ url_for('main.home') }}"><h1>Mi<b>Card</b><br></h1></a>
            <a class="nav-links" href="{{ url_for('profile_bp.get_avatar') }}">My Mi</a>
            <a class="nav-links" href="{{ url_for('profile_bp.get_profile') }}">My Profile</a>
            <a class="nav-links" href="{{ url_for('account_bp.logout') }}">Logout</a>
        {% else %}
            <a class="brand-nav" href="{{ url_for('main.home') }}"><h1>Mi<b>Card</b><br></h1></a>
            <a class="nav-links" href="{{ url_for('account_bp.login') }}">Login</a>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    </header>

    {% include 'flash_messages.html' %}

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/../static/js/navbar.js"></script>
    <script src="/../static/js/profile_forms.js"></script>
    <script src="/../static/js/avatar_form.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <footer class="small text-center text-muted">
{#            A UCL IXN project in collaboration with <a href="https://www.imdb.com/interfaces/">IBM</a>.#}
    </footer>

</body>
</html>
