<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mini-tablet-responsive.css">
    <link rel="stylesheet" href="../static/css/tablet-responsive.css">
    <link rel="stylesheet" href="../static/css/small-laptop-responsive.css">
    <link rel="stylesheet" href="../static/css/laptop-responsive.css">
    <link rel="stylesheet" href="../static/css/phone-responsive.css">
</head>

<body>
    <section class="landing-page grid">

                <div class="slide slide-1 grid">
                    <div class="slide-text grid">
                        <h1 class="brand">Mi<b>Card</b><br>
                            </h1>
                    </div>
                </div>

    <form action="" method="post" style="margin: 8px">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
</div>
        <div class="container">
                      <button type="submit">Don't have an account? Click here to sign up.</button>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/navbar.js"></script>



</body>

</html>