{% extends "layout_nonav.html" %}
{% block content %}

    <div class = "brand">
        <br>
        <h1>Mi<b>Card</b><br></h1>
        <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <!-- Forename -->
            <div class="form-group">
              {{ form.forename(class="form-control text-center", placeholder=form.forename.description) }}
              {% for error in form.forename.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>

            <!-- Surname -->
            <div class="form-group">
              {{ form.surname(class="form-control text-center", placeholder=form.surname.description) }}
              {% for error in form.surname.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>

            <!-- Email -->
            <div class="form-group">
              {{ form.email(class="form-control text-center", placeholder=form.email.description) }}
              {% for error in form.email.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>

            <!-- Password -->
            <div class="form-group">
              {{ form.password(class="form-control text-center", placeholder=form.password.description) }}
              {% for error in form.password.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.confirm_psw(class="form-control text-center", placeholder=form.confirm_psw.description) }}
              {% for error in form.confirm_psw.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>

            <!-- Submit -->
            {{ form.submit(class="btn btn-info btn-lg") }}
        </form>
    </div>

{% endblock content %}